body {
    font-family: Arial, sans-serif;
    background-image:  url(img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

}

.container {
    width: 320px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #000000;
    border-radius: 10px;
    padding: 30px 40px;
}


h2 {
    text-align: center;
    margin-top: 12px;
    color: #ffffff;
    font-family: 'Courier New',  monospace;
   }

label {
    font-weight: bold;
}

input[type="text"], input[type="email"], input[type="password"], input[type=""]{
    width: 100%;
    min-height: 10px;
    right: 20px;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}



button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}
